<template>
  <div>
    <v-alert
      v-model='show_alert'
      dismissible
      type='success'
      transition='fade-transition'
      outline
    >
      {{ message }}
    </v-alert>
  </div>
</template>
<script>
export default {
  props: {
    message: null,
    show: false
  },
  computed: {
    show_alert: {
      get: function () {
        return this.show
      },
      set: function () {
        this.$emit('close-alert')
      }
    }
  }
}
</script>
