<template>
  <v-content>
    <v-container fluid fill-height>
      <v-layout align-top>
        <v-flex>
          <router-view />
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
export default {

}
</script>
