<template>
  <v-app id='inspire'>
    <v-navigation-drawer
      clipped
      absolute
      permanent
      app
    >
    <navigation />
    </v-navigation-drawer>
    <v-toolbar app fixed clipped-left color='primary' dark>
      <v-toolbar-title>Application</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <v-btn slot='activator' flat small>
          <v-icon>person</v-icon>
          Bem vindo {{ userProfile.username }}
        </v-btn>
        <v-list>
          <v-list-tile @click='logout'>
            <v-icon>
              person
            </v-icon>
            Logout
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <content-form />
    <v-footer color='primary' app fixed dark>
      <span>&copy;Udson Souza da Cruz. Todos os Direitos reservados 2018</span>
    </v-footer>
  </v-app>
</template>

<script>
import Navigation from './Navgation.vue'
import ContentForm from './Content.vue'
import { mapState } from 'vuex'

export default {
  components: {
    Navigation,
    ContentForm
  },
  props: {
    source: String
  },
  computed: mapState({
    userProfile: state => state.user.profile
  }),
  methods: {
    logout () {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/login')
      })
    }
  }
}
</script>
