<template>
  <v-app id='inspire'>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class='elevation-12' @submit.prevent='userLogin'>
              <v-toolbar dark color='primary'>
                <v-toolbar-title>Entrar</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click='$router.push(&apos;/register&apos;)' color='secondary'>
                  registrar
                </v-btn>
              </v-toolbar>
              <v-alert :value='alert' type='error' transition='scale-transition' outline>
                Usuario e/ou senha invalidos.
              </v-alert>
              <v-card-text>
                <v-form @submit.prevent='userLogin' v-model='valid' ref='form'>
                  <v-text-field prepend-icon='person'
                  name='login'
                  label='E-mail'
                  type='text'
                  v-model='user.email'
                  :rules='emailRules' required></v-text-field>
                  <v-text-field id='password'
                  prepend-icon='lock'
                  name='password'
                  label='Senha'
                  type='password'
                  v-model='user.password'
                  :rules='passwordRules' required></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color='primary' @click='userLogin'>Entrar</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  data: () => ({
    drawer: null,
    user: {
      email: '',
      password: ''
    },
    alert: false,
    valid: false,
    emailRules: [
      v => !!v || 'E-mail é necessario',
      v => /.+@.+/.test(v) || 'E-mail deve ser valido'
    ],
    passwordRules: [
      v => !!v || 'Senha é necessario',
      v => v.length >= 6 || 'Senha deve possuir no minimo 6 caracteres'
    ]
  }),

  props: {
    source: String
  },

  methods: {
    userLogin () {
      if (this.$refs.form.validate()) {
        this.alert = false
        this.$store.dispatch('login', this.user).then(() => {
          this.$router.push('/')
        }).catch(err => {
          this.alert = true
        })
      }
    }
  }
}
</script>
