<template>
  <v-app id='inspire'>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class='elevation-12' @submit.prevent='userLogin'>
              <v-toolbar dark color='primary'>
                <v-toolbar-title>Registrar</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-alert :value='alert' type='error' transition='scale-transition' outline>
                {{ alertMessage }}
              </v-alert>
              <v-card-text>
                <v-form @submit.prevent='userLogin' v-model='valid' ref='form'>
                  <v-text-field
                  name='username'
                  label='Nome de Usuario'
                  type='text'
                  v-model='user.username'
                  required
                  :rules='usernameRules'></v-text-field>
                  <v-text-field
                  name='login'
                  label='E-mail'
                  type='text'
                  v-model='user.email'
                  :rules='emailRules' required></v-text-field>
                  <v-text-field id='password'
                  name='password'
                  label='Senha'
                  type='password'
                  v-model='user.password'
                  :rules='passwordRules' required></v-text-field>
                  <v-text-field id='passwordConfirmation'
                  name='passwordConfirmation'
                  label='Confirmação de Senha'
                  type='password'
                  v-model='passwordConfirmation'
                  required
                  :error-messages='passwordConfirmationErrors'
                  :rules='passwordConfirmationRules'></v-text-field>

                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color='primary' @click='userRegister'>Cadastrar</v-btn>
                <v-btn color='primary' @click='$router.push("/login")'>Cancelar</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  data: () => ({
    drawer: null,
    user: {
      username: '',
      email: '',
      password: ''
    },
    passwordConfirmation: '',
    passwordConfirmationErrors: [],
    alert: false,
    alertMessage: '',
    valid: false,
    usernameRules: [
      v => !!v || 'Nome de usuario é necessario',
      v => v.length >= 2 || 'Nome de usuario muito curto'
    ],
    emailRules: [
      v => !!v || 'E-mail é necessario',
      v => /.+@.+/.test(v) || 'E-mail deve ser valido'
    ],
    passwordRules: [
      v => !!v || 'Senha é necessario',
      v => v.length >= 8 || 'Senha deve possuir no minimo 8 caracteres'
    ],
    passwordConfirmationRules: [
      v => !!v || 'Confirmação de senha é necessario',
      v => v.length >= 8 || 'Confirmação de senha deve possuir no minimo 8 caracteres'
    ]
  }),

  props: {
    source: String
  },

  methods: {
    userRegister () {
      if (this.$refs.form.validate()) {
        if (this.user.password != this.passwordConfirmation) { this.passwordConfirmationErrors.push('Senha e Confirmação de senha nao batem') } else {
          this.passwordConfirmationErrors = []
          this.alert = false
          this.$store.dispatch('register', this.user).then(ret => {
            this.$store.dispatch('login', this.user).then(() => {
              this.$router.push('/')
            }).catch(() => {
              this.$router.push('/login')
            })
          }).catch(err => {
            this.alert = true
            if (err.response.data.email || err.response.data.username) { this.alertMessage = 'Nome de usuario e/ou email já existe' } else { this.alertMessage = 'Ocorreu um erro inesperado, por favor tente novamente mais tarde' }
          })
        }
      }
    }
  }
}
</script>
