<template>
  <div id='app'>
    <v-toolbar color='primary' dark>
      <v-toolbar-title>Pessoas</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn @click='$router.push("/people/")' color='success'>Novo</v-btn>
    </v-toolbar>
    <v-app id='inspire'>
      <v-data-table
        :headers='[
          {text: "ID", value:"id"},
          {text: "Nome", value:"name"},
          {text: "Sobrenome", value:"lastname"},
          {text: "Nascimento", value:"birthdate"},
          {text: "CPF", value:"cpf_num"},
          {value:"actions"}]'
        :items='people'
        hide-actions
        class='elevation-1'
      >
        <template slot='items' slot-scope='props'>
            <td>{{ props.item.id }}</td>
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.lastname }}</td>
            <td>{{ props.item.birthdate }}</td>
            <td>{{ props.item.cpf_num }}</td>
            <td class='justify-center px-2'>
              <v-icon
                size='22'
                class='mr-2'
                color='primary'
                @click.stop='openDialog(props.item)'
              >
                edit
              </v-icon>
              <v-icon
                size='22'
                color='error'
                @click='deletePeople(props.item.id)'
              >
                delete
              </v-icon>
            </td>
        </template>
      </v-data-table>
    </v-app>
    <confirm ref='confirm'></confirm>
  </div>

</template>

<script>
import { mapActions, mapState } from 'vuex'
import Confirm from './layouts/Confirm.vue'

export default {
  name: 'People',
  components: {
    Confirm
  },
  mounted () {
    this.$store.dispatch('loadPeople')
  },
  computed: mapState({
    people: state => state.people.people
  }),
  data: function () {
    return {
      person: {}
    }
  },
  methods: {
    ...mapActions(['loadPerson', 'deletePerson']),
    openDialog: function (person) {
      this.$router.push(`/people/${person.id}`)
    },
    deletePeople: function (id) {
      const message = `Tem certeza de que deseja deletar a Pessoa ${id}?`
      const title = 'Deletar Pessoa'
      this.$refs.confirm.open(title, message).then(ret => {
        if (ret) {
          this.deletePerson(id).then(r => {
            this.$store.dispatch('loadPeople')
          })
        }
      })
    }
  }
}

</script>
