<template>
<div>
  <v-layout>
    <v-flex xs12 lg8 offset-lg2 class='elevation-5'>
  <v-toolbar color='secondary' class='elevation-5' dark>
    <v-toolbar-title>Pessoa</v-toolbar-title>
    <v-spacer></v-spacer>
  </v-toolbar>
  <alert :message='alertMessage' :show='alertShow' v-on:close-alert='alertShow = false' ></alert>
  <v-form class='pa-3'>
    <v-layout row wrap >
    <v-flex sm12 md6 pr-1>
    <v-text-field
      v-model='person.name'
      label='Nome'
      required></v-text-field>
    </v-flex>
    <v-flex sm12 md6 pl-1>
    <v-text-field
      v-model='person.lastname'
      label='Sobrenome'
      required></v-text-field>
    </v-flex>
    <v-flex sm12 md6 pr-1>
    <v-menu
      ref='menu'
      :close-on-content-click='false'
      v-model='menu'
      lazy
      class='px-0'
      transition='scale-transition'
      offset-y
      full-width
      min-width='290px'>
      <v-text-field
        slot='activator'
        v-model='dateFormatted'
        label='Nascimento'
        prepend-icon='event'
        @blur='date = parseDate(dateFormatted)'
        readonly></v-text-field>
      <v-date-picker
        v-model='date'
        no-title
        scrollable
        @input='menu = false'>
      </v-date-picker>
    </v-menu>
    </v-flex>
    <v-flex md6 sm12 pl-1>
    <v-text-field
      v-model='person.cpf_num'
      label='CPF'></v-text-field>
    </v-flex>
    <v-flex xs12>
    <v-subheader>
      Endereço
    </v-subheader>
    </v-flex>
    <v-flex sm12 md6 pr-1>
    <v-text-field
      v-model='address.zip_code'
      label='CEP'
      required
      mask='#####-###'
      @change='getAddressFromCEP'></v-text-field>
    </v-flex>
    <v-flex sm12 md6 pl-1>
    <v-text-field
      v-model='address.street_name'
      label='Rua'
      required></v-text-field>
    </v-flex>
    <v-flex sm12 md6 pr-1>
    <v-text-field
      v-model='address.street_number'
      label='Numero'
      required></v-text-field>
    </v-flex>
    <v-flex sm12 md6 pl-1>
    <v-text-field
      v-model='address.district'
      label='Bairro'
      required></v-text-field>
    </v-flex>
    <v-flex sm12 md6 pr-1>
    <v-text-field
      v-model='address.city'
      label='Cidade'
      required></v-text-field>
    </v-flex>
    <v-flex sm12 md6 pl-1>
    <v-text-field
      v-model='address.state'
      label='Estado'
      required></v-text-field>
    </v-flex>
    <v-flex xs12>
      <v-subheader>
        Telefones de contato
      </v-subheader>
    </v-flex>
    <v-flex>
    <v-layout row v-for='(phone, index) in phoneList'>
      <v-flex xs10 md4>
      <v-text-field
        v-model='phone.number'
        label='Numero'
        >
          </v-text-field>
      </v-flex>
          <v-btn flat icon color='red' @click='deletePhone(index)'>
            <v-icon>delete</v-icon>
            </v-btn>
    </v-layout>
    </v-flex>
    </v-layout>
    <v-divider> </v-divider>
    <v-btn
      @click='save'
      color='accent'
      >
      Salvar
    </v-btn>
    <v-btn
      @click='cancell'
      color='accent'
      >
      Voltar
    </v-btn>
  </v-form>
    </v-flex>
  </v-layout>
</div>
</template>

<script>
import { mapActions } from 'vuex'
import Alert from './layouts/Alert.vue'

export default {
  name: 'person',
  components: {
    Alert
  },
  computed: {
    phoneList () {
      if (this.phones.length === 0 ||
          (this.phones[this.phones.length - 1].id != null) ||
          (this.phones[this.phones.length - 1].id == null &&
              this.phones[this.phones.length - 1].number != null)) { this.phones.push({}) }

      return this.phones
    }
  },
  data: () => {
    return {
      date: null,
      dateFormatted: null,
      alertMessage: null,
      alertShow: false,
      menu: null,
      person: {},
      address: {},
      phones: [],
      deletedPhones: []
    }
  },
  watch: {
    date (val) {
      this.dateFormatted = this.formatDate(this.date)
      this.person.birthdate = this.date
    }
  },
  methods: {
    ...mapActions(['loadPerson', 'savePerson', 'deletePhones']),
    formatDate (date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    parseDate (date) {
      if (!date) return null

      const [day, month, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
    getAddressFromCEP () {
      this.$http.get(`http://api.postmon.com.br/v1/cep/${this.address.zip_code}`).then(ret => {
        this.address.street_name = ret.data.logradouro
        this.address.district = ret.data.bairro
        this.address.city = ret.data.cidade
        this.address.state = ret.data.estado
      })
    },
    save () {
      this.alertMessage = 'Alterações Salvas com sucesso'
      this.alertShow = true
      this.person.address_attributes = this.address

      this.phones.forEach((phone, index) => {
        if (!phone.number || phone.number === '') { this.$delete(this.phones, index) }
      })

      this.person.phones_attributes = this.phones
      this.savePerson(this.person).then(() => {
        this.deletePhones({personID: this.person.id, phones: this.deletedPhones})
      })
    },
    cancell () {
      this.$router.push('/')
    },
    deletePhone (index) {
      if (this.phones[index].id != null) { this.deletedPhones.push(this.phones[index]) }

      this.$delete(this.phones, index)
    }
  },
  mounted () {
    const id = this.$route.params.id
    if (id) {
      this.loadPerson(id).then(r => {
        this.person = r.data.person
        if (r.data.person.address) { this.address = r.data.person.address }

        this.phones = r.data.person.phones
        this.date = this.person.birthdate
      })
    }
  }

}
</script>
