<template>
  <div id='app' >
    <router-view/>
  </div>
</template>

<script>
export default {

  created: function () {
    if (this.$store.getters.isAuthenticated) {
      this.$store.dispatch('loadUser').catch(() => {
        this.$router.push('/login')
      })
    }
  }
}
</script>

<style lang="stylus">
  @import '~vuetify/src/stylus/main'
</style>
